div{
    background: #161614;
    color: aliceblue;
}
table.table{
    color: aliceblue;
}
h1,h3{
    display: inline;
}
button {
    background-color: transparent;
    font-weight: semibold;
    color: #eee;
    font-size: 1rem;
    padding: 1rem 1.5rem; 
    border: 2px solid #eee; 
    border-radius: .5rem;
    cursor: pointer;
    transition: all 1s ease;
  }
  button:active {
    box-shadow: inset .2rem .2rem 1rem #222020
      , inset -.2rem -.2rem 1rem #444
  }

@media (max-width :575px){
    .row{
        background-color: #161614;
        padding-left: 20px;
        padding-bottom: 20px;
    }
    #EXP
    {
        text-decoration: underline; 
    }
    #Datos{
        font-size:x-large;
    }
}
/*Etiqueta de estudios*/
@media(min-width : 576px){
    .row{
        background-color: #161614;
        padding-left: 500px;
        padding-bottom: 30px;
    }
    #EXP
    {
        text-decoration: underline; 
    }
    #Datos{
        font-size:x-large;
    }
}