<div class="row">
  <h1>Proyectos Realizados</h1>
  <br>
  <div class="col-lg-2">
    <button
      type="button"
      class="btn btn-outline-light"
      routerLink="/nuevoproyect"
      *ngIf="isLogged"
    >
      Agregar Proyecto
    </button>
    <br>
  <div class="contenedor">
    <div class="col lg 1">
      <div class="col-lg-11">
        <table class="table">
          <tbody>
            <tr *ngFor="let Proyect of proyecto">
              <td>
                <h4>
                  {{ Proyect.nombre }}
                </h4>
              </td>
              <td>
                {{ Proyect.descripcion }}
              </td>
              <td>
                <img src= "../../../assets/proyecto.png" class="img-fluid" id="FotoProyecto">
              </td>
              <td *ngIf="isLogged">
                <button class="btn btn-outline-light" routerLink="/editproyect/{{ Proyect.id }}">
                  <i class="bi bi-pencil-square"></i>EDITAR </button>
              </td>
              <td *ngIf="isLogged">
                <button class="btn btn-danger" (click)="delete(Proyect.id)">
                  <i class="bi bi-trash"></i> BORRAR</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  <br>
</div>
