<div class="row">
  <h1>Proyectos Realizados</h1>
  <div class="contenedor">
    <div class="col-sm-12 col-md-7 col-lg-7 seccion1">
      <h1>Argentina Programa - Portfolio Web</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi explicabo nostrum neque amet reiciendis aperiam ab facilis animi quisquam non aspernatur sint ratione commodi incidunt adipisci, vitae, placeat officia! Perspiciatis!
      </p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 seccion2">
        <section>
            <img src="../../../assets/SzwgE5X - Imgur.png" class="img-fluid img-proyecto">
        </section>
    </div>
  </div>
</div>
