.row{
    padding: 32px;
    background-color:#161614 ;  
    color: aliceblue;
    text-decoration: underline; 
}
.contenedor{
    width: auto;
    margin-top: -60px;
}
.seccion1, .seccion2{
    display: inline-block;
    text-align: justify;
}
section{
    display: flex;
    width: 680px;
    height: 270px;
}
section img{
width: 0px;
flex-grow: 1;
object-fit: cover;
opacity: .8;
transition: .5s ease;
}
section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

@media(min-width : 576px){
 .h1{
    padding: 13px;
    background-color:#161614 ;  
    color: aliceblue;
    text-decoration: underline; 
 }
}
@media(max-width : 575px){
    .h1{
        padding: 13px;
        padding-left: 29px;
        background-color:#161614 ;  
        color: aliceblue;
        text-decoration: underline; 
     }


}
