.row{
    padding: 45px;
}
div{
    background-color: #161614;
    color: aliceblue;
}
/*etiqueta nombre*/
@media (min-width : 576px){
    #Nombre{
        font-weight: bold;
        margin-top: 80%;
        margin-left: -20px;
        font-size: medium;
    }
}
@media (max-width :575px){
    #Nombre{
        font-weight: bold;
        margin-top: 138px;
        margin-left: 23%;
    }
}
/*Etiqueta de estudios*/
@media(min-width : 576px){
    #Estudio{
        font-weight: bold;
        margin-top: -8%;
        margin-left: -30px;
        font-size: medium;
    }
}
@media (max-width :575px){
    #Estudio{
        font-weight: bold;
        margin-top: -6%;
        margin-left: 19.5%;
    }
}
/*Etiqueta de AcercaDeMi*/
@media (min-width:576px){
    #AcercadeMi{
        margin-top: -13%;
        margin-left: -27%;
        text-decoration: underline; 
    }
}
@media (max-width :575px){
    #AcercadeMi{
        margin-top: -6%;
        margin-left: -7%;
        text-decoration: underline; 
    }
} 
/*Etiqueta de historia*/
@media(max-width:575px){
    #Historia{
        text-align: justify;
        font-size: x-large;
      }
}
@media(min-width:576px){
    #Historia{
        text-align: justify;
        font-size: x-large;
        margin: -230px;
        margin-top: 0px;
        margin-left: -79px;
        margin-right: -360px;
      }
}
@media(max-width:575px){
    #EditPersona{
        width: auto;
    }
  }
  @media(min-width:576px){
    #EditPersona{
        width: 27%;
    }
  }

/*Foto de perfil*/
 @media (min-width : 576px){

    #FotoPerfil{
        position: absolute;
        width: 10%;
        border-style:double;
        left: 314px;
        top: 690px;
        font-size: medium;
    }
}
    @media (max-width: 575px){
        #FotoPerfil{
            position: absolute;
             width: 30%; 
             border-style:double;
             left: 35%;
             top: 565px;
        }
    }
   

