<div class="row">
    <div class="container">
        <div class="logo" id="">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            <a href="https://www.linkedin.com/in/francoandresferro/"><img src="../../../assets/linkedin.png"alt="" id="Linkedin"></a>
            <a href="https://github.com/Francoferro02"><img src="..//..//../assets/github.png"alt=""></a>
            <a href="https://www.instagram.com/franferro__/"><img src="..//../../assets/instagram.png"alt=""></a>
            <a href="https://www.facebook.com/franco.ferro.9"><img src="..//../../assets/facebook.png"alt=""></a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogout()" *ngIf="isLogged">CERRAR SESION</button>
        </div>
    </div>
</div>
